# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.installed.cfg
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/

# Django
db.sqlite3
db.sqlite3-journal
local_settings.py
staticfiles/
media/

# Environment variables
.env

# Docker
.docker 
